*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.title{
    background-color: orange;
    text-align: center;
    font-weight:bold;
    height:40px;
    font-size: 1.2em;
}

.hero{
    height:750px;
    width:100%;
}
.hero img{
    width:100%;
    height:100%;
}