@font-face {
    font-family: 'Lalezar';
    src: url(assets/fonts/Lalezar.ttf);
}

@font-face {
    font-family: 'Yekan';
    src: url(assets/fonts/Yekan.ttf);
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Lalezar';
}

.title{
    background-color: orange;
    text-align: center;
    font-weight:bold;
    height:40px;
    font-size: 1.2em;
}

.hero{
    height:650px;
    width:100%;
}
.hero img{
    width:100%;
    height:100%;
}


.section-katoni-col{
    width:100%;
    height:300px;
    background-color: rgb(17, 17, 17);
}

.katoni-float:nth-child(1){
    margin-right: 8%;
}

.katoni-float{
    float:right;
    width:17%;
    margin: 2.5%;
    color:white;
    height: fit-content;
    border:2px solid white;
    border-radius: 20px;
}
.katoni-float img{
    width:100%;
    border-radius:20px;
    border-bottom-right-radius:0% ;
    border-bottom-left-radius: 0%;
    height:150px;
}